* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 640px;
    height: 520px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.slider-container {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.content {
    width: 100%;
    max-width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;   
}

.text{
    flex-basis: 70%;

}



.indicators {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
}

.indicator {
    width: 0.7rem; /* Относительная единица */
    height: 0.7rem; /* Относительная единица */
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.indicator:hover {
    background-color: #999;
    transform: scale(1.2);
}

.indicator:active {
    background-color: #666;
    transform: scale(0.9);
}

.indicator.active {
    background-color: #000;
}


@media (max-width: 640px) {
    .indicators {
        align-self: flex-start; /* Этот элемент перепрыгнет на новый ряд */
      }
       
}